<div class="container">
    <div class="row ">
        <div class="col ">
            <img src="https://th.bing.com/th/id/R.8a1cd52d45bc334569094f1fb1a64f82?rik=5MIheS7JGwNvHQ&pid=ImgRaw&r=0 " alt=" " width="300px " height="600px ">
        </div>
        <div class=" col ">
            <img src="https://th.bing.com/th/id/OIP.BLrezSeZuna1mdA4UzyjLwHaGO?pid=ImgDet&rs=1 " class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} " alt=" " width="100px " height="25px ">
            <br>
            <h1>Créer votre un compte
            </h1>
        </div>

    </div>
</div>